page-login {
  .container_login .login_with{padding-bottom: 26px;}
  .container_login .login_with .button-md,.container_login .login_with .button-ios,.container_login .login_with .button-wp{width:40%;padding: 22px 0;border-radius: 5px;}
  .container_login .or{border: 1px solid #f2f2f2;text-align: center;color: #696969;border-radius: 6px;}
  .container_login .form_login .button-md,.container_login .form_login .button-ios,.container_login .form_login .button-wp{padding: 24px 0px;font-size: 17px;border-radius: 5px;}
  .container_login .forgetpassword{color: #9a9fa2;font-weight: 500;text-transform: none;}
  .container_login .login-input{border-bottom: #9a9fa2 1px}
}
