<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ion Pet - Home</h3>
  <button ion-button secondary menuToggle>Toggle Menu</button>
  <p>
    URL: {{environment.REST_API_URL}}
  </p>
  <p>
    ENV_NAME: {{environment.ENV_NAME}}
  </p>
  <button *ngIf="session.userProfile" ion-button block color="facebook" (click)="facebookLogout()">Log out</button>
  <ion-card *ngIf="session.userProfile">
    <img [src]="session.userProfile.image" />
    <ion-card-content>
      <ion-card-title>
        {{session.userProfile.name}}
      </ion-card-title>
      <p>
        {{session.userProfile.email}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
