page-forget-password {
  .forgetpassword ion-img.img-loaded img {height: 100%;width: 100%;object-fit: initial;}
  .forgetpassword ion-img {background: none;margin: auto;}
  .forgetpassword ion-row .face{display: flex;}
}
